#screen{
    display: flex;
    align-content: center;
    justify-content: center;
}
#taskform {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: pink;    
    padding-bottom: 15px;
}
#taskmanager{
    border-top: 1px solid gray;
    width: 600px;
}

td{
    width: 100px;
    text-align: center;
}

#task,#Actions {
    width: 200px;
}


.column {
    background-color: lightblue;
    border: 2px solid white;
}

